src/**/*.js
src/**/*.map
node_modules
jspm_packages
bower_components
dist
yarn.lock
.vscode
.tmp
.tmp-aot
build
styles/bootstrap
.awcache
npm-debug.log
*.css
aot
.DS_Store
.idea
*.log
logs

pids
*.pid
*.seed

lib-cov

.grunt

.lock-wscript

.DS_Store
ehthumbs.db
Thumbs.db

/src/typings/tsd/
/typings/
/tsd_typings/

.webpack.json

/doc/

*.swp
.env
.vscode
