html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Hide these spinners you need to be a young Clint Eastwood to click. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sfc {
  border: 3px solid #d2d2d2;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Globalish Inputs */
.sfc-select,
.sfc-input {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  padding: 0.7em;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  font-size: 1.05em;
  vertical-align: middle;
}

.sfc-select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url("./img/down.png") right no-repeat;
  background-size: 45px 45px;
}

.sfc-radio {
  vertical-align: middle;
}

.sfc-input--rides {
  width: 5em;
}


/* The header of the application */

.sfc-head {
  background-color: #595959;
  color: #fff;
  padding: 1em;
}

.sfc-header {
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
}

.sfc-septa-logo {
  width: 50px;
  vertical-align: middle;
  position: relative;
  top: -3px; /* This font makes the vertical align pretty weird. */
  margin-right: 10px;
}


/* A genereic section */

.sfc-section {
  padding: 1.5em 1.25em;
  border-bottom: 1px solid #ccc;
}

.sfc-section__header {
  font-weight: 400;
  font-size: 1.4em;
  margin: 0 0 0.5em;
  color: #4d4d4d;
}


.sfc-radio-list {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  line-height: 150%;
  color: #4d4d4d;
}


/* The cost area */

.sfc-section--cost {
  background-color: #595959;
  color: #fff;
}

.sfc-section--cost .sfc-section__header {
  color: #fff;
}

.sfc-cost {
  font-size: 2.5em;
  font-weight: 600;
}

/* The notice under type */

.sfc-notice {
  margin: 0.5rem 0 0 0;
  font-size: 0.8em;
  color: #9b9b9b;
}


