/*----------------------------------------------*\
    CALCULATOR
\*----------------------------------------------*/

.calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    width: 30%;
    min-width: 300px;
    height: auto;
}


/*----------------------------------------------*\
    HEADER of WIDGET
\*----------------------------------------------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(74, 74, 74);
}

.header > h2 {
    color: white;
}

.header-logo {
    width: 30px;
    object-fit: contain;
    margin-right: 0.5rem;
}