#test{
	text-align:center;
	border-style: solid;
	width: 50%;
	margin: 1em auto;
	background-color:red;
	

}

#big_wrapper{
	
	background-color:yellow;
	width: 90%;
	margin: 1em auto;
	
	
}

#title{
	
	border-style:hidden hidden solid hidden;
	padding-bottom:10px;
}