@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
html {
    width: 100%;
    body {
        width: 100%;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        color: #4b4b4b;

        a {
            color: black;
            text-decoration: none;

            &:visited {
                color: black;
                text-decoration: none;
            }
        }

        #content {
            width: 100%;
        }
    }
}
