.body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background: linear-gradient(#80C7F7, #36576E);
  overflow-x: hidden;
  overflow-y: scroll;
}