.promoBox {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 10px;
    background: #595959;
    border: 1px solid #595959;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 340px;
    height: 50px;
    padding: 15px 5px 10px 5px;
}

.promoCircle {
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.promoI {
    color: white;
}

.promoText {
    color: white;
    width: 300px;
    line-height: 21px;
}