/**
 * Variables
 */

$widget-bg-color: #ffffff;
$widget-border-color: #cccccc;
$dark-bg-color: #595959;

$section-border-color: #e6e6e6;
$component-border-color: #bfbfbf;

$primary-text-color: #4d4d4d;
$secondary-text-color: #808080;

$font-size: 10px;
