.fareSection {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header {
    text-decoration: underline;
}
