.travel-time-section {
  height: 19%;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 500;
  color: #4D4D4D;
  border-bottom: 1px solid #e6e6e6;
}

.travel-time-section > * {
  height: 33%;
}

.travel-time-select-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-time-select-div-select {
  width: 350px;
  height: 50px;
  padding-left: 10px;
  font-size: 18px;
  color: #4D4D4D;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

.travel-time-info-div {
  font-size: 14px;
  padding: 5px 15px;
  color: #949494;
}