.amount-section {
  text-align: center;
  padding-bottom: 25px;

  .amount-input {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    text-decoration: none;
  }
}
