.when-section {
  text-align: center;
  border-bottom: 0.5px solid #595959;
  padding-bottom: 20px;

  .when-input-select {
    width: 60%;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    text-decoration: none;
  }
  .helper-text {
    margin: 15px 20px;
    font-style: italic;
  }
}
