.lightNav {
    background-color: #CBE9FF;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

.darkNav {
    background-color: #11466C;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

.navList {
    width: 95vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

li:nth-child(n+3) {
    margin-left: 5px;
}

.lightText {
    color: #595959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.darkText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.lightFare {
    color: #595959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

.darkFare {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

.vectorBox {
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}