.radio-group {
    label {
        font-size: rem(30);
    }
    .options {
        display: table;
        margin: rem(10) auto auto auto;
        text-align: left;
        .option {
            & + .option {
                margin-top: rem(10);
            }
        }
        input {
            margin: 0 rem(10) 0 0;
        }
    }
}
