body{font-family: helvetica, arial, sans-serif; font-size: 16px; color: #4d4d4d; margin: 0; }
.fareCalcInfo{color: #666; font-size: 12px; display: block; padding: 2% 0;}
.fareCalcContainer{width: 400px; margin: 0 auto; border: 2px solid #ccc;}
.septaLogo{margin-right: 10px; display: inline; float: left;}
.titleBox{float: none; clear: both; background: #595959; padding: 20px;}
.titleBox h3{color: #fff; font-size: 30px; display: inline;}
.fareCalcSection{padding: 20px 40px; border-bottom: 1px solid #ccc; font-weight: 700; text-align: center;}
.fareCalcSection label{display: block; padding: 1% 0;}
.fareCalcSection select{padding: 1% 0; width: 100%; border: 1px solid #ccc; border-radius: 5px;}
.fareCalcRadio{ font-weight: 400;}
.totalFareCalcSection{background: #595959; padding: 20px; color: #fff; text-align: center;}
.totalLabel{font-size: 20px;}
.totalCost{font-size: 24px; font-weight: 700;}