@import url("//use.typekit.net/tai3hgx.css");
@font-face {
  font-family: 'PragmaticaCTT-Bold';
  src:url('/fonts/PragmaticaCTT-Bold.ttf.woff') format('woff'),
      url('/fonts/PragmaticaCTT-Bold.ttf.svg#PragmaticaCTT-Bold') format('svg'),
      url('/fonts/PragmaticaCTT-Bold.ttf.eot'),
      url('/fonts/PragmaticaCTT-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
