$pragmaticactt-bold: 'PragmaticaCTT-Bold', sans-serif;
$proxima-soft: "proxima-soft", sans-serif;

//colors
$scorpion: #595959;
$mercury: #E6E6E6;
$gray: #808080;
$tundora: #4D4D4D;
$white: #FFF;
$silver: #CCCCCC;

$font-family-base: $proxima-soft;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;