/* Screens > 200 px */

h1
	font-size 1.4rem
	padding 0.4rem

h2
	font-size 1.2rem
	padding 0.4rem

h3
	font-size: 1rem
	margin auto
	padding 0.4rem

.fare-cost
	height 80px

.helper-text
	font-size 12px

.purchase label
	font-size: 16px

select, input
	font-size 14px
	padding 2.5px
	margin-bottom 5px
	margin-top 5px

.section
	padding-bottom 5px