/* Screens > 768 px */

.fare-cost
	height 128px

h2
	font-size 1.8rem
	padding 1rem

h3
	font-size: 1.3rem
	padding 1rem

.helper-text
	font-size 14px

.purchase label
	font-size: 20px

select, input
	font-size 18px
	padding 5px
	margin-bottom 10px
	margin-top 10px

.section
	padding-bottom 10px