@import 'colors'

/* Body */
.fare-calculator
	border 3px outset light-md
	max-width 430px
	margin auto
	width 95%

h1, h2, h3
	margin auto
	padding 1rem
h2
	background dark-md
	color white

.fare-cost
	background dark
	color white
	height 128px

.helper-text
	height 60px
	margin auto
	padding-top 10px
	width 80%

.section
	border-bottom 1px solid light
	padding-bottom 1rem

select, input
	padding 5px
	margin-bottom 5px
	margin-top 5px

input
	text-align center
	width 50px