@import 'colors'

/* Reset */
ul
	list-style none

select:not([size]):not([multiple]), select[size="0"], select[size="1"]
	background-color white

keygen, select, select[size="0"], select[size="1"], input
	border-radius 5px
	border-color light
	border-style solid

select
	color dark
	background-color white

keygen, select
	border-radius 5px

input, textarea, keygen, select, button
	color dark
	font-family 'Lato', sans-serif
