@import 'colors'

/* Typography */
html
	color dark
	font-family 'Lato', sans-serif
	text-align center

h2
	font-size 1.8rem

h3
	font-size: 1.3rem

.helper-text
	color dark-md + 30%
	font-size 14px

.purchase label
	font-size: 20px

select, input
	font-size 18px