.septa-widget {
  width: 400px;
  height: 820px;
  margin: auto;
  border: 3px solid #cccccc;
}

.septa-widget-header {
  height: 9%;
  padding: 0 5%;
  background-color: #595959;
  color: white;
  display: grid;
  grid-template-columns: 1.3fr 3.5fr;
  align-items: center;
}

.septa-widget-header-logo {
  height: 40px;
  justify-self: center;
}

.septa-widget-result {
  height: 14%;
  background-color: #595959;
  color: white;
  box-sizing: border-box;
  padding: 14px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}