@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Base Styles */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  font-size: 1rem;
  line-height: 1.425;
}

img {
  display: block;
  max-width: 100%;
}

/* Ride Form */
.ride-form {
  margin: 50px auto;
  width: 320px;
  max-width: 100%;
  border: 2px solid #ccc;
  text-align: center;
}

.ride-form__field-group {
  padding: 16px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
}

.ride-form__field-group:last-child {
  border-bottom: none;
}

.ride-form__header {
  display: flex;
  background: #595959;
  justify-content: center;
  padding: 15px;
}

.ride-form__header h1 {
  color: white;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.ride-form__header img {
  width: 30px;
  margin-right: 15px;
}

.ride-form__logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ride-form label,
.ride-form .label {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}

.ride-form select {
  background-color: white;
  border: 1px solid #a2a2a2;
  width: 100%;
  max-width: 275px;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: .5em 3.5em .5em .75em;
  cursor: pointer;  
  margin: 0;
  color: #575757;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #7d7d7d 50%),
    linear-gradient(135deg, #7d7d7d 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.ride-form input[type="text"].ride-form__ride-number-input {
  background-color: white;
  border: 1px solid #a2a2a2;
  width: 90px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: .5em .75em .5em .75em;
  margin: 0;
  color: #575757;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ride-form input[type="radio"] {
  cursor: pointer;
  margin-right: 7px;
}

.ride-form__field-group--radio label {
  font-size: 16px;
  font-weight: 400;
  display: block;
  text-align: left;
  cursor: pointer;
  margin-left: 25%;
  margin-bottom: 0;
}

.ride-form .helper-text {
  color: #8d8d8d;
  font-size: 12px;
  margin-top: 10px;
}

.ride-form__totals-box {
  background: #595959;
  color: white;
  padding: 15px 20px;
}

.ride-form__total-text {
  font-weight: 600;
  margin-bottom: 4px;
}

.ride-form__total-amount {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.2;
}