/* React fonts */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* App */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.septa-fare-calc-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0px 10px;
}

.septa-fare-calc-text-align {
  text-align: center;
}

.septa-fare-calc-container {
  width: 300px;
  border: 2px solid lightgrey;
}

.septa-fare-calc-accent-box {
  background-color: rgb(121, 121, 121);
  color: white;
}

.septa-fare-calc-accent-text {
  font-size: 24px;
  font-weight: 600;
}

.septa-logo {
  margin: 15px 10px;
}

.septa-fare-calc-select {
  margin-bottom: 16px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  border: 1px solid grey;
  padding: 5px;
}

.septa-fare-calc-number-input {
  margin-bottom: 16px;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  border: 1px solid grey;
  padding: 5px;
}

.septa-fare-calc-detail-text {
  font-size: 12px;
  font-weight: 250;
}

.septa-fare-calc-danger-text {
  color: white;
}

.septa-fare-calculator-radio-buttons-container {
  text-align: left;
  padding: 0 60px;
}
