/* TODO Add site wide styles */
* {
    --color-text-primary: rgb(77, 77, 77);
    --color-text-lighter: rgb(128, 128, 128);
    --color-bg-dark: rgb(89, 89, 89);
    --color-border: rgb(204, 204, 204);
    --color-border-lighter: rgb(240, 240, 240);
    --font-family-primary: "Inter Sans", "Qanelas Soft", Trebuchet, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.centered {
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
