//Colors
$ltgrey: #BCBCBC;
$grey: #595959;
$dkgrey: #4F4F4F;

//Fonts
$main: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
