/* ===========================================================
   VARIABLES
=========================================================== */

/* Contains the variables for this project. */

//breakpoints
$XL: 1200px;
$L: 1000px;
$M: 800px;
$S: 650px;
$XS: 500px;
$XXS: 400px;

//colors
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #cccccc;
$c-gray-dark: #595959;
$c-red: #f14728;
$c-blue: #1f4fa3;

//typography
$text: #4d4d4d;
$f-size: 33px;
$f-line-height: 40px;
$f-default: 'montserrat', Arial, Helvetica, sans-serif;