.form-sections {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    border: 1px solid lightgray;
};

.form-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
}


.form-zone {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 10%;
    width: 75%;
}


.form-slots {
    border: 1px solid lightgray;
    border-radius: 8%;
    padding: 5% 0 5% 4%;
}

.type {
    padding-right: 10%;
    width: 70%;
}

.form-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 95%;
}

.form-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 95%;
    padding: 5% 0 5% 0;
}

.form-ticket-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 95%;
    padding: 5% 0 5% 0;
}

.form-ticket-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 95%;
    background-color: gray;
}

.price-text {
    color: white;
}

.text {
    text-align: center;
}


