.septa-container {
	width: 400px;
	min-height: 70vh;
	margin: auto;
	margin-top: 40px;
	border: 4px solid #cdcdcd;
}

.bg-gray {
	background-color: #666;
}

.text-gray {
	color: #4d4d4d;
}

.text-white {
	color: white;
}
