body {
    font-family:sans;
    font-size:1em;
}

.container {
    display: -webkit-flex;
    display: flex;
}

#map {
    width: 100%;
    height: 100%;
}

#map img {
    width:70%;
    padding: 2em;

}

#calculator {
    width: 30%;
    height: 100%;
    min-width: 20em;
    border-style: solid;
    padding: 2em;
    margin: 2em;
}

#calculator select,
#calculator input,
#calculator button,
#calculator fieldset {
    margin-bottom: 1em;
    padding: .3em;
}

#calculator select,
#calculator input[type=number],
#calculator button {
    width:100%;
}

#price {
    font-size: 3em;
    text-align:center;
}
