body {
    font-family:sans;
    font-size:1em;
    background-image: url("../img/zone-map.jpg");
    background-size:     50%;
    background-repeat:   no-repeat;
    background-position: center center;
}

#calculator select,
#calculator input,
#calculator button,
#calculator fieldset {
    margin-bottom: 1em;
    padding: .3em;
}

#calculator select,
#calculator input[type=number],
#calculator button {
    width:100%;
}

#calculator {
    width:30%;
    min-width: 20em;
    border-style: solid;
    padding: 2em;
    margin: 2em;
}
#calculator:hover {
    background-color: white;
}

#price {
    font-size: 3em;
    text-align:center;
}
