/* CSS Document
Kevin Fry
*/

body {
    background:#FFFFFF;
    padding:5px;
    margin: 5px;
    font-family:sans-serif; 
    font-size:large;
    font-weight:normal; 
    width: 90%; 
}

h1 {
    font-size: larger;
    text-align: center;
    background: #4B4B4B;
    color: #FFFFFF;
    //margin-top: 15px;
    //margin-bottom: 5px;
}
img {
    margin-top: 15px;
    //margin-bottom: 5px;
    width: 25px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 25px;
}
div.section {
    padding:5px;
    border-color:#4B4B4B;
    border: 3px;
}

p.sectionTitle {
    text-align: center;
    text-emphasis:#4B4B4B;
    font-weight: bold;
}

/* title with background color */
p.sectionTitleI {
    text-align: center;
}

p.fareCost {
    font-size: larger;
    text-align: center;
    background: #4B4B4B;
    color: #FFFFFF;
    text-align: center;
}
div.sectionCTA {
    background:#4B4B4B;
    color: #FFFFFF;
    padding-bottom: 5px;

}

div.sectionFareCost {
    font-size: larger;
    text-align: center;
    background: #4B4B4B;
    color: #FFFFFF;
}
select {
    width:100%;
    float:none;
    height: 75px;
    font-size: 18px;
}
input.rides {
    width:100%;
    float:none;
    font-size: 18px;

}
.hint {
    text-align: center;
    font-size: small;
    color: #4B4B4B;
}
label {

}