#top .menu .air { height: 53px; background: #fefb00; font-weight: bold; font-size: 110%; line-height: 53px; border-left: 1px solid #c9ea6c;border-right: 1px solid #c9ea6c;}
#top .menu .services {  font-weight: bold; font-size: 110%; background:  url(../images/menu_left.png) left top no-repeat;}
#top .menu .services A { background: #fefb00; display: block; margin-left: 9px; padding: 0px 14px 0px 5px }
#top .menu .package {  font-weight: bold; font-size: 110%;  background: url(../images/menu_right.png) right top no-repeat;}
#top .menu .package A { background: #fefb00; display: block; margin-right: 9px; padding: 0px 5px 0px 14px }

#banner { clear:both; height:231px; background:url(../images/nav_left.jpg) left bottom no-repeat; margin-right:13px; }

#banner P.navtop {  display: block; line-height:40px; background: #ecebeb url(../images/nav_right.jpg) right bottom no-repeat;   font-size: 80%; color: #878585; margin-left:23px; _margin-top:-3px; }
#banner P.navtop A { color: #878585; text-decoration: underline; 	 height: 40px; line-height: 40px; padding-left:10px; }
#banner P.navtop A:hover {  color: #878585; text-decoration: none; }
#banner P.navtop SPAN {  color: #878585;} 


#middle { clear: both; background: #ffffff; padding: 23px 27px 0px 33px; margin-right:13px;}
#middle H1 { font-size: 150%; color: #387a94; padding-bottom: 15px;}
#middle H2 { font-size: 100%; color: #737373; padding-bottom: 15px; padding-top:20px; background:url(../images/line.jpg) left top repeat-x;}
#middle P {  padding-bottom: 15px;  }
#middle P A { color: #a37c17; text-decoration: none; font-weight: bold; }
#middle P A:hover { text-decoration: none; } 
#middle  UL {list-style-type: none; padding:0px 0px 15px 20px;  }
#middle  UL LI { height: 28px; line-height: 28px; background:url(../images/round.jpg) left 8px no-repeat; padding-left:25px; }

.location { width: 450px;height:250px;  margin-bottom:20px;}

#bottom  { clear: both; padding: 6px 18px 80px 18px;  }
#bottom DIV  { color: #232627; height:40px; line-height: 40px; padding: 0px 10px; font-size:90%; }
#bottom DIV span  { color: #3d1515; font-size:90%; font-weight:bold;}
#bottom DIV P { margin-top: -41px; text-align: right; color: #010101;}
#bottom DIV P A { color: #010101;text-decoration: underline; font-weight: bold; }
#bottom DIV P A:hover {  text-decoration: none;  }
