<div class="md-padding" flex layout-sm="column" ng-controller="FareCtrl as vm" ng-cloak>
    <md-card class="text-center">
        <md-card-content>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Regional Rail Fares</span>
                    </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h1 class="md-title">Where are you going?</h1>
                        <div layout="row">
                          <md-input-container flex-xs flex-gt-xs="100">
                            <md-select ng-model="vm.selectedZone" md-selected-text="vm.getSelectedText('Zone')" ng-change="vm.selectZone()">
                              <md-optgroup label="zones">
                                <md-option ng-value="zone" ng-repeat="zone in vm.zones">{{zone}}</md-option>
                              </md-optgroup>
                            </md-select>
                          </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card ng-if="vm.selectedZone">
                    <md-card-content>
                        <h1 class="md-title">When are you riding?</h1>
                        <div layout="row">
                          <md-input-container flex-xs flex-gt-xs="100">
                            <md-select ng-model="vm.selectedType" md-selected-text="vm.getSelectedText('Type')" ng-change="vm.getPrice()">
                              <md-optgroup label="when">
                                <md-option ng-value="type" ng-repeat="type in vm.types">{{type | titleize}}</md-option>
                              </md-optgroup>
                            </md-select>
                          </md-input-container>
                        </div>
                        <p class="md-warn" ng-if="vm.data.info[vm.selectedType]" ng-bind="vm.data.info[vm.selectedType]"></p>
                    </md-card-content>
                </md-card>
                <md-card ng-if="vm.selectedType">
                    <md-card-content>
                        <h1 class="md-title">Where will you purchase the fare?</h1>
                        <div layout="row">
                            <md-input-container flex-xs flex-gt-xs="100">
                                <md-radio-group ng-model="vm.selectedPurchase" ng-change="vm.getPrice()">
                                    <md-radio-button ng-value="purchase" ng-repeat="purchase in vm.purchases">{{purchase | titleize}}</md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>
                        <p class="md-warn" ng-if="vm.data.info[vm.selectedPurchase]" ng-bind="vm.data.info[vm.selectedPurchase]"></p>
                    </md-card-content>
                </md-card>
                <md-card ng-if="vm.selectedPurchase">
                    <md-card-content>
                        <h1 class="md-title">How many rides will you need?</h1>
                        <div layout="row">
                            <md-input-container flex-xs flex-gt-xs="100">
                                <input ng-model="vm.trips" type="text" ng-change="vm.getPrice()" ng-if="vm.selectedType != 'anytime'">
                                <md-select ng-model="vm.trips" ng-change="vm.getPrice()" 
                                    md-selected-text="vm.trips" ng-if="vm.selectedType == 'anytime'">
                                  <md-optgroup label="when">
                                        <md-option ng-value="trip" ng-repeat="trip in [10,20,30,40,50,60]">{{trip}}</md-option>
                                  </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-toolbar class="md-warn" ng-if="vm.selectedPurchase && vm.price">
                    <div class="md-toolbar-tools text-center">
                        <p class="md-flex" style="width: 100%;">
                            Your fare will cost <br/>
                            <h2 class="md-flex">${{vm.price}}</h2>
                        </p>
                    </div>
                </md-toolbar>
        </md-card-content>
    </md-card>
</div>
