header {
    background-color: #595959;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}